<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre équipe - BDE Ynov Paris</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Rencontre notre équipe !</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/equipe">Notre Équipe</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/calendrier">Save the Date</a></li>
            <li><a href="/login">Connexion</a></li>
        </ul>
    </nav>
    <section id="equipe">
        <h2>Notre équipe du BDE</h2>

        <div class="membre">
            <img src="/templates/images/dounia.png" alt="Dounia">
            <h3>Dounia</h3>
            <p><strong>Présidente</strong></p>
            <p>Phrase préférée : "La Marseillaise du 77"</p>
            <p>Musique fav : Tant qu'il y a de l'ambiance, je m'adapte</p>
        </div>

        <div class="membre">
            <img src="/templates/images/paul.jpg" alt="Paul">
            <h3>Paul</h3>
            <p><strong>Trésorier</strong></p>
            <p>Phrase préférée : "Putain, Lolo il a encore vomi"</p>
            <p>Musique fav : 7 a.m</p>
        </div>

        <div class="membre">
            <img src="/templates/images/nathan.jpg" alt="Nathan">
            <h3>Nathan</h3>
            <p><strong>Secrétaire Général</strong></p>
            <p>Phrase préférée : "J'ai jamais le bon timing avec les femmes"</p>
            <p>Musique fav : Charlie Delta</p>
        </div>

        <div class="membre">
            <img src="/templates/images/sophie.jpg" alt="Sophie">
            <h3>Sophie</h3>
            <p><strong>Responsable Pôle Com'</strong></p>
            <p>Phrase préférée : "Peut dormir n'importe où"</p>
            <p>Musique fav : Danse sur tout ce qui bouge</p>
        </div>

        <div class="membre">
            <img src="/templates/images/coline.png" alt="Coline">
            <h3>Coline</h3>
            <p><strong>Responsable Pôle Event</strong></p>
            <p>Phrase préférée : "Si je rigole c'est pas parce que t'es drôle mais parce que j'ai rien compris"</p>
            <p>Musique fav : Petit génie</p>
        </div>

    </section>

    <footer>
        <p>Contactez-nous : <a href="mailto:bdepyc92@gmail.com">bdepyc92@gmail.com</a></p>
    </footer>
</body>
</html>
